{% extends 'article_news_base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="w750 fr">
        <div id="list_news">
            <h3 class="postion">
                <span class="dq fl">{{ new_obj.news_category.name }}</span>
                <span class="pos fr">
                    当前位置：<a href="{% url 'gsshy:index' %}">首页</a> >
                            <a href="{% url 'gsshy:nav' new_obj.news_category.navigation_category.id %}">{{ new_obj.news_category.navigation_category.name }}</a> >
                            <a href="{% url 'gsshy:category' new_obj.news_category.id %}">{{ new_obj.news_category.name }}</a> >
                            <a href="">正文</a>
                </span>
            </h3>

            <div class="content_container">
                <h3>
                    {{ new_obj.title }}
                </h3>
                <div style="text-align: center; font:italic bold 17px/24px '微软雅黑', sans-serif">
                    {% if new_obj.subtitle %}
                        ——{{ new_obj.subtitle }}
                    {% endif %}
                </div>
                <h5>
                    发布单位:{{ new_obj.release_unit.username }} | 发布时间:{{ new_obj.date_published | date:"Y-m-d" }} | 浏览次数:{{ new_obj.view_count }} | <a href="{{ request.META.HTTP_REFERER }}">返回上一页</a>
                </h5>
                <div class="function">
                    <div class="clear"></div>
                </div>
                <div id="font_area" class="font_area_mid">
                    {{ new_obj.content | safe }}
                    {% if new_obj.download_file1 %}
                        <h1>附件:</h1>
                        <h2>1.<a href="{% url 'gsshy:download' 'article' 'a' new_obj.id %}">{{ new_obj.download_name1 }}</a></h2>
                    {% endif %}
                    {% if new_obj.download_file2 %}
                        <h2>2.<a href="{% url 'gsshy:download' 'article' 'b' new_obj.id %}">{{ new_obj.download_name2 }}</a></h2>
                    {% endif %}
                    {% if new_obj.download_file3 %}
                        <h2>3.<a href="{% url 'gsshy:download' 'article' 'c' new_obj.id %}" >{{ new_obj.download_name3 }}</a></h2>
                    {% endif %}
                </div>
                <div class="vspace"></div>
				<div class="vspace"></div>
                <div class="vspace"></div>
            </div>

			<div class="clear"></div>
			<div class="prenext">
                <ul>
                    {% if current_article_index > 0 %}
                        <li>上一篇：<a href="{% url 'gsshy:new' previous_article_id %}">{{ previous_new_obj.title }}</a></li>
                    {% endif %}
                    {% if current_article_index < last_new_id_index %}
                        <li>下一篇：<a href="{% url 'gsshy:new' next_article_id %}">{{ next_new_obj.title }}</a></li>
                    {% endif %}
				</ul>
			</div>
        </div>
    </div>
{% endblock %}